<div id="smallbanner">
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Here are your bookings </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>
<br>
<br>
<div class="container">
  <div class="row">
    <% @bookings.each do |b| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive" src="https://source.unsplash.com/random/2500x1500" alt="wedding">
          <div class="card-category"> <%= b.venue.category %> </div>
          <div class="card-name"><%= b.venue.name %></div>
          <div class="card-address">  <%= b.user.email %></div>
          <div class="card-price"> for a price of R$<%= b.price %> </div>
          <div class="card-price"> from <%= b.initial_date %> to <%= b.final_date %> </div>
          <div class="quick-button"> <%= link_to 'edit', edit_venue_booking_path(b.venue, b) %> </div>
        </div>
      </div>
    <% end %>
</div>
</div>

</div>
</div>


