<div id="smallbanner">
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Bookings of <%= @booking.venue.name %>  </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>

<p><%= @booking.initial_date %></p>
<p><%= @booking.final_date %></p>
<p><%= @booking.user.email %></p>
<p><%= @booking.price %></p>
