<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1469371670807-013ccf25f16a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=fda822492d9c9c4d365f2ca1e9e02ada&auto=format&fit=crop&w=1050&q=80');">
  <div class="banner-content">
    <div class="banner-wrap">
     <div class="search">
      <h1>Find your perfect venue</h1>
<!--       <%=  form_tag(venues_path, method: "get", class: "searchTerm") do %>
      <%= select_tag "venues", options_for_select(@venue_types, "All"), class: "searchTerm2" %>
      <%= text_field_tag(:address) %>
      <%= submit_tag("Search") %>
      <% end %> -- -->

      <%= render 'shared/searchbar' %>
    </div>
  </div>
</div>
</div>


<div class="custom-container container">
  <div class="custom-row row">
<br>
    <h2> Browse all our venues here! </h2>
<br>
    <% @venues.each do |venue| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <%= render 'venues/card', venue: venue %>
      </div>
    <% end %>
</div>
</div>

<footer class="footer">
  <h1 class="text">THE AIRBNB OF VENUES</h1>
  <h2 class="text2">&copy;MADE IN RIO</h2>
  <h2 class="text3">-POWERED BY THE DOPCAST TEAM-</h2>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>
