<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1524563485100-78ae0aa46e5a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a36b1ce8c7de0bced9c47fd0d901a7ac&auto=format&fit=crop&w=1500&q=80');">
  <div class="banner-content">
    <div class="banner-wrap">
     <div class="search">
      <h1>Find your perfect venue</h1>
      <%= select_tag "venues", options_for_select(@venue_types, "All"), class: "searchTerm2" %>
      <input type="text" class="searchTerm" placeholder="Where are you looking for?">
      <button type="submit" class="searchButton">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>
</div>
</div>


<div class="custom-container container">
  <div class="custom-row row">
<br>
    <h2> Browse all our venues here! </h2>
<br>
    <% @venues.each do |v| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card">
          <img class="card-img-top img-responsive" src="https://source.unsplash.com/random/2500x1500" alt="wedding">
          <div class="card-category"> <%= v.category %> </div>
          <div class="card-name"><%= link_to v.name, venue_path(v) %></div>
          <div class="card-address"><%= v.address %></div>
          <div class="card-price"><%= v.price %></div>
        </div>
      </div>
    <% end %>
</div>
</div>

<footer class="footer">
  <h1 class="text">THE AIRBNB OF VENUES</h1>
  <h2 class="text2">&copy;MADE IN RIO</h2>
  <h2 class="text3">-POWERED BY THE DOPCAST TEAM-</h2>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</footer>
