<div id="smallbanner">
<br>
<br>
<br>
<br>
  <h1 class="fontsmallbanner"> Here are this venue's information </h1>
  <p class="fontsmallbanner"></p>
<br>
<br>

<%= render 'venues/card', venue: @venue %>

<% if @venue.user == current_user %>
  <a class="actionbutton" <%= link_to 'Edit this Venue', edit_venue_path(@venue) %> </a>
  <a class="actionbutton" <%= link_to 'View bookings', venue_bookings_path(@venue, @booking) %> </a>
  <a class="actionbutton" <%= link_to 'Delete this Venue', venue_path(@venue), method: :delete, data: { confirm: "Are you sure you want to delete this Venue?" } %>
<% else %>
  <%= link_to 'Book this Venue', new_venue_booking_path(@venue, @booking) %>
<% end %> </a>

<a class="actionbutton" <%= link_to 'Back to Home', root_path %> </a>
