<h1>Venue Show Test Page</h1>

<p><%= @venue.category %></p>
<p><%= @venue.name %></p>
<p><%= @venue.address %></p>
<p><%= @venue.price %></p>

<%= link_to 'Edit this Venue', edit_user_venue_path(@user, @venue) %>
<%= link_to 'Delete this Venue', user_venue_path(@user, @venue), method: :delete, data: { confirm: "Are you sure you want to delete this Venue?" } %>
<%= link_to 'Back to Home', root_path %>

