<h1>Venue Show Test Page</h1>

<p>Category: <%= @venue.category %></p>
<p>Name: <%= @venue.name %></p>
<p>Address: <%= @venue.address %></p>
<p>Price: <%= @venue.price %></p>

<%= link_to 'Edit this Venue', edit_venue_path(@venue) %>
<%= link_to 'Delete this Venue', venue_path(@venue), method: :delete, data: { confirm: "Are you sure you want to delete this Venue?" } %>
<%= link_to 'Back to Home', root_path %>

